.titleDiv{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

}
.titleBestCup{
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.titleBestSellers{
    font-size: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}
.titleBestCup,.titleBestSellers{
   color: #221F20;
}
.img{
    background-color: #add8e6;
    width: 260px;
height: 248px
}
.divImage{
    width: 270px;
height: 260px;
background-color: white;
position: relative;
transition: transform 0.2s ease-in-out;
object-fit: cover;
}
.divImage:hover{
    transform: scale(1.2);
  
  }
.desc{
    position: absolute;
    top:0%;
    height: 70px;
    width: 26px;
    color: white;
}

.imgS{
    background-color: white;
    width: 15px;
height: 14px;
}
.btn{
    width: 24px;
height: 24px;
}
.cup{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #F6F6F6;
    width: 300px;
    height: 295px;
text-align: left;
}
 
.ColorsDiv{
    display: flex;
}
.wrapper{
  display: inline-block;
  width: 300px;
  height: 295px;
  margin-top: 2%;

}
p{
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .titleBestSellers{
        font-size: 30px;
        margin-top: 5%;
    }
   .wrapper{
    width: 250px;
    height: 265px;
    text-align: center;
    justify-content: center;
    align-items: center;
   }
   .cup{
    margin-top: 35%;
    text-align: center;
   }
}