.MainDivWrapper{
    background-color: #EFF5F7;
    width: 100%;
    height: 100%;
}
.title_1{
    color: #221F20;
    font-size: 36px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;

}
.topPart{
    display: flex;
    justify-content: space-between;
}
.textSection{
    display: grid;
    margin-left: 16%;
}
.descPart{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;

}
.ButtonFollowUs{
    width: 295px;
    height: 50px;
margin-top: 3%;
font-family: 'Josefin Sans', sans-serif;
  font-weight:normal ;
  font-size: 12px;
  color: rgba(34, 31, 32, 1) !important;
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid black !important;
  border-radius: 20px !important;
padding: 10px 26px !important;
margin-right: 20%;
}
.InstIcon{
    width: 18px;
height: 18px;
margin-right: 5%;
}
.ButtonFollowUs:hover{
    width: 313px;
height: 54px;

}