.MainDivCoffee {
  background-color: #f3f7f9;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.leftImages,
.RightImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leftImages {
  margin-left: 6%;
  margin-top: 1%;
}
.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
}
.title2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 48px;
  margin-top: 2%;
}
.title3 {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-top: 2%;
}
.span1 {
  font-weight: bold;
}
.img1 {
  width: 420px;
  height: 302px;
  margin-top: 15%;
  padding-left: 5%;
}
.img2 {
  width: 246px;
  height: 326px;
  margin-top: 10%;
  padding-left: 5%;
}
.img3 {
  width: 264px;
  height: 264px;
  top: 49%;
  right: 60%;
  position: absolute;
}
.img4 {
  width: 520px;
  height: 364px;
  left: 60%;
  top: 49%;
  position: absolute;
}
.img5 {
  width: 231px;
  height: 304px;
  position: absolute;
  right: 19%;
  top: 12%;
}
.leftImages,
.RightImages {
  display: flex;
  text-align: right;
  width: 500px;
}
.leftImages {
  margin-left: -10%;
}
@media screen and (max-width: 600px) {
  .img1 {
    max-width: 100px;
    margin-left: 20% !important;
    top: 50%;
    opacity: 50%;
  }

  .img2 {
    max-width: 100px;
    max-height: 150px;
    top: 20%;
    margin-left: -190%;
    opacity: 50%;
  }

  .img3 {
    max-width: 100px;
    max-height: 150px;
    right: 20%;
    top: 20%;
    opacity: 30%;
    object-fit: contain;
  }

  .img4 {
    max-width: 100px;
    max-height: 150px;
    margin-left: 10%;
    opacity: 30%;
  }

  .img5 {
    max-width: 100px;
    max-height: 150px;
    left: 92%;
    margin-top: 12%;
    opacity: 30%;
  }
  .img1 :hover,
  .img2 :hover,
  .img3 :hover,
  .img4:hover,
  .img5:hover {
    opacity: 100%;
  }

  .title3 {
    font-size: 14px;
  }

  .MainDivCoffee {
    margin-top: 40%;
  }
}
