.mainDiv {
  width: 100%;
  height: 100% !important;
  margin: 0;
  padding: 0;
}
.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.BigTitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 70px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  align-items: center;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow: hidden;
}
.subTitle {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  align-items: center;
  letter-spacing: 0px;
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.FirstPageButton {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: normal;
  font-size: 17px;
  color: rgba(34, 31, 32, 1) !important;
  background-color: rgba(255, 255, 255, 1) !important;
  text-align: center !important;
  align-items: center !important;
  letter-spacing: 0px;
  opacity: 1;
  position: absolute !important;
  top: 70% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 20px !important;
  padding: 10px 26px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  width: 208px;
  height: 50px;
}

.FirstPageButton:hover {
  width: 222px;
  height: 54px;
}
.arrow {
  width: 12px !important;
  height: 12px !important;
  font-weight: bold !important;
  color: white !important;
  top: 115% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
  align-items: center !important;
}
.explore {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}
.exploreDiv {
  letter-spacing: 0px;
  opacity: 1;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10%;
  display: inline-block;
  animation: bounce 0.5s infinite alternate;
}
.explore {
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 600px) {
  .BigTitle {
    font-size: 20px;
    position: absolute;
    border: 5px orange;
    color: #fff !important;
    top: 22%;
  }
  .subTitle {
    font-size: 10px;
    color: #fff !important;
    position: absolute;
    top: 30%;
    width: 300px;
  }
  .mainDiv {
    height: 700px;
  }
  .backgroundImage {
    height: 270px;
    object-fit: cover;
  }
  .FirstPageButton {
    top: 40% !important;
    width: 150px;
    height: 30px;
    font-size: 10px !important;
  }
  .FirstPageButton:hover {
    width: 180px;
    height: 50px;
  }
  .exploreDiv {
    top: 50%;
    left: 48%;
    transition: translate(50%, -50%);
    position: absolute;
    text-align: center;
    display: grid;
    gap: 1%;
  }
  .explore {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin: 0;
  }
}
