.footerDiv{
    margin-top: 0.1%;
    background-color: #659AB1;
    width:100%;
    height: 100%;
  

}
.footerDiv *{
    margin-left: 4%;
}
.topTextBox{
    display: grid;
}
.footerTitle{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}
.footerSubTitle{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}
.TopToolbar{
    display: flex;
    justify-content:space-around;
    border-bottom: 2.5px dotted #FFFFFF !important;
    padding-bottom: 5% !important;
}
.input{
    background-color: #84AEC1 !important;
    color: #FFFFFF !important;
    width: 740px !important;    
    height: 62px !important;
    text-align: right !important;
}
.BtnSignIn{
    color: #FFFFFF !important;
    border: none !important;
}
.BottomToolBar{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    height: 100% !important;
    margin-top: 5% !important;
    border: 1px solid orange;
}
.left {
    display: grid;
    align-items: center;
  }
.whiteLogo{
    width: 268px;
    height: 62px;
    object-fit: contain;
}
.leftTitle{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 200px;
    margin-top: 5%;
    color: #FFFFFF;
}
.middle{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 14%;
    color: white;
    margin-top: 1%;
    margin-left: -15%;
}

.right {
    display: flex;
    align-items: center;
  }
.middle0,.middle1,.middle2,.middle3.middle4{
    display: grid;
    grid-gap: 10%;
}
.titleMiddle1{
    font-family:"Josefin Sans",sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.subtitleMiddle{
    font-size: 14px;
    font-family: "Nunito",sans-serif;
    font-weight: normal;
    padding: 5%;
}
.iconsDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 5%;
    color: #84AEC1;
    grid-gap: 5%;
}
.IconBtn{
    background-color: #84AEC1 !important;
}
.bottomToolbar{
    display: flex;
    margin-top: 5%;
    color: #EFF5F7;
    justify-content: space-between;
    font-size: 13px;
    font-family: "Nunito",sans-serif;
}
.textBottomLeft{
    margin-left: 9%;
}
.textBottomRight{
    margin-left: 70%;
}


@media screen and (max-width:600px) {
    .footerDiv{
        background-color: #659AB1;
        padding: 5%;
    }
    .footerTitle{
        font-size: 24px;
        color: #FFFFFF;
    }
    .footerSubTitle{
        font-size: 14px;
        color: #FFFFFF;
    }
    .TopToolbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2.5px dotted #FFFFFF;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
    .input{
        background-color: #84AEC1;
        color: #FFFFFF;
        width: 100%;
        height: 40px;
        text-align: right;
        margin-bottom: 5%;
    }
    .BtnSignIn{
        color: #FFFFFF;
        border: none;
        font-size: 14px;
    }
    .BottomToolBar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
    }
    .whiteLogo{
        width: 100px;
        height: auto;
    }
    .leftTitle{
        font-size: 12px;
        width: 80px;
        margin-top: 5%;
        color: #FFFFFF;
    }
    .middle{
        display: none;
    }
    .right{
        display: none;
    }
    .titleMiddle1{
        font-size: 14px;
        font-weight: bold;
    }
    .subtitleMiddle{
        font-size: 12px;
        font-weight: normal;
        padding: 5%;
    }
    .iconsDiv{
        display: none;
    }
    .bottomToolbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        font-size: 12px;
    }
    .textBottomLeft{
        margin-left: 5%;
        margin-bottom: 2%;
    }
    .textBottomRight{
        margin-left: 5%;
        margin-bottom: 2%;
    }  
}