.footerDiv{
    margin-top: 0.1%;
    background-color: #659AB1;
    width:100%;
    height: 100%;
  

}
.footerDiv *{
    margin-left: 4%;
}
.topTextBox{
    display: grid;
}
.footerTitle{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}
.footerSubTitle{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}
.TopToolbar{
    display: flex;
    justify-content:space-around;
    border-bottom: 2.5px dotted #FFFFFF !important;
    padding-bottom: 5% !important;
}
.input{
    background-color: #84AEC1 !important;
    color: #FFFFFF !important;
    width: 740px !important;    
    height: 62px !important;
    text-align: right !important;
}
.BtnSignIn{
    color: #FFFFFF !important;
    border: none !important;
}
.BottomToolBar{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    height: 100% !important;
    width: 100% !important;
    margin-top: 5% !important;
}
.left {
    display: grid;
    align-items: center;
  }
.whiteLogo{
    width: 268px;
    height: 62px;
    object-fit: contain;
}
.leftTitle{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 200px;
    margin-top: 5%;
    color: #FFFFFF;
}
.middle{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 18%;
    color: white;
    margin-top: 1%;
    margin-left: -15%;
}

.right {
    display: flex;
    align-items: center;
  }
.middle0,.middle1,.middle2,.middle3.middle4{
    display: grid;
    grid-gap: 10%;
}
.titleMiddle1{
    font-family:"Josefin Sans",sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.subtitleMiddle{
    font-size: 14px;
    font-family: "Nunito",sans-serif;
    font-weight: normal;
    padding: 5%;
}
.iconsDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 5%;
    color: #84AEC1;
    grid-gap: 5%;
}
.IconBtn{
    background-color: #84AEC1 !important;
}
.bottomToolbar{
    display: flex;
    margin-top: 5%;
    color: #EFF5F7;
    justify-content: space-between;
    font-size: 13px;
    font-family: "Nunito",sans-serif;
}
.textBottomLeft{
    margin-left: 9%;
}
.textBottomRight{
    margin-left: 70%;
}