.MainWrapper {
  width: 100%;
  background-color: #eff5f7;
  margin-top: 5%;
  display: grid;
  position: relative;
}
.textDiv {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.text1,
.text2 {
  color: #d8e6eb;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 75px;
}
.text1 {
  animation: ticker 20s linear infinite;
}
@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.imageDiv {
  text-align: center;
}
.img11 {
  width: 1190px;
  height: 680px;
  object-fit: cover;
  border-radius: 20px;
  animation: zoom 5s infinite alternate;
  margin-top: 3%;
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.textDiv2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.text3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 12px;
}
.text4 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: white;
}
.text5 {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  width: 378px;
  height: 45px;
  text-align: center;
  margin-left: 4%;
}
.playBtn {
  color: white !important;
  font-size: 12px !important;
  font-family: "Josefin Sans", sans-serif !important;
  border-radius: 20px !important;
  padding: 10px 26px !important;
  width: 173px !important;
  height: 50px !important;
  border: 1px solid white !important;
  margin-left: 1% !important;
  margin-top: 4% !important;
}
.img12 {
  margin-right: 5%;
}
.modalImage {
  position: absolute;
  background-image: url("../components/Assets/images/suv.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  border: 6px solid #d8e6eb;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.startMovieBtn {
  position: absolute !important;
  color: #659ab1 !important;
  width: 200px !important;
  height: 200px !important;
  top: 40% !important;
  left: 45% !important;
  transition: translate(50%, -50%) !important;
}
.closeBtn {
  left: 50%;
  font-size: 50px !important;
  top: 20% !important;
  text-align: center !important;
}
@media screen and (max-width: 600px) {
  .MainWrapper {
    margin-top: 0;
  }
  .text1,
  .text2 {
    font-size: 15px;
    width: 100%;
  }
  .textDiv2 {
    top: 50%;
  }
  .text3 {
    font-size: 10px;
  }
  .text4 {
    font-size: 24px;
  }
  .text5 {
    font-size: 10px;
    width: 200px;
  }
  .playBtn {
    font-size: 10px !important;
    padding: 8px 20px !important;
    width: 100% !important;
    margin: 4% auto 0;
  }
  .imageDiv {
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 2%;
  }
  .img11 {
    max-width: 90%;
    height: auto;
    border-radius: 20px;
    margin-top: 8%;
  }
  .textDiv2 {
    transform: translate(-50%, -60%);
  }
  .playBtn {
    width: 150px !important;
    height: 30px !important;
    font-size: 10px !important;
  }
  .textDiv {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .startMovieBtn {
    width: 79px !important;
    height: 79px !important;
    left: 40% !important;
  }
  .closeBtn {
    font-size: 10px !important;
    margin-top: -15% !important ;
    left: 1% !important;
  }
  .modalImage {
    width: 100vw;
    height: 60vh;
  }
}
